<div class="dashboard">

    <!--=====================================HEADER================================================-->
    <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="container-fluid">
            <div class="container-full">
                <div class="page-header">
                    <!--<div id="header-container col-md-4">-->
                    <div class="media">
                        <div class="pull-left avatar" href="#">
                            <img class="img-circle"
                                 ng-src="{{getMemberByName(model.name).userPic}}"
                                 alt="avatar"
                                 title="Click to change avatar"
                                 height="100" width="100"
                                 data-toggle="modal" data-target="#myModal">
                        </div>
                        <div class="media-body">
                            <h4>[{{team}}] {{username}} </h4>
                            <button type="button" class="btn btn-default btn-lg pull-right tweet-button"
                                    data-toggle="modal" data-target="#tweet-modal"><span
                                    class="glyphicon glyphicon-edit"
                                    aria-hidden="true" data-dismiss="modal"></span> Share status
                            </button>

                        </div>
                    </div>
                    <!--</div>-->
                </div>

                <!--=====================================STATUSES================================================-->


                <div class="content tweet-messages">
                    <div ng-repeat="tweet in room.tweets">
                        <div class="media">
                            <div class="tweet-box animated fadeInDown">

                                <img class="tweet-avatar media-object img-circle"
                                     ng-src="{{getMemberByName(tweet.sender).userPic}}" alt="avatar"
                                     height="50" width="50"
                                     ng-click="sendGetUserProfileMessage(tweet.sender)" data-toggle="modal"
                                     data-target="#userStatuses-{{tweet.sender}}">

                                <div class="media-body">
                                    <div class="media-heading tweet-header">
                                        <span class="label label-danger">dev</span> <strong class="tweet-sender-name">{{tweet.sender}}</strong>
                                        <small class="tweet-date"> {{toDateString(tweet.date)}}</small>
                                    </div>
                                    <p class="tweet-text" ng-bind-html="tweet.text"></p>
                                </div>

                            </div>
                        </div>
                        <!--=====================================USER STATUSES LIST MODAL================================================-->

                        <div class="modal fade" id="userStatuses-{{tweet.sender}}" tabindex="-1" role="dialog"
                             aria-labelledby="userStatusesLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                aria-hidden="true">&times;</span>
                                        </button>
                                        <img class="profile-pic img-circle"
                                             ng-src="{{getMemberByName(tweet.sender).userPic}}"
                                             alt="avatar"
                                             height="100" width="100">
                                        <h4 class="modal-title" id="userStatusesLabel">{{tweet.sender}}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div ng-repeat="userTweet in getMemberByName(tweet.sender).tweets">
                                            <img class="tweet-avatar media-object img-circle"
                                                 ng-src="{{getMemberByName(tweet.sender).userPic}}" alt="avatar"
                                                 height="50" width="50">

                                            <div class="media-body">
                                                <div class="media-heading tweet-header">
                                                    <span class="label label-danger">dev</span> <strong class="tweet-sender-name">{{userTweet.sender}}
                                                    to
                                                    [{{userTweet.team}}]</strong>
                                                    <small class="tweet-date"> {{toDateString(userTweet.date)}}</small>
                                                </div>
                                                <p class="tweet-text" ng-bind-html="userTweet.text"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---------------------------------->
                    </div>

                    <div class="media" ng-click="loadMoreTweets()">
                        <div class="tweet-box">
                            <div class="media-body">
                                <p class="tweet-text pull-right"><a>Load more...  </a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--=====================================TABS================================================-->
    <div class="container-fluid">
        <div class="container-full">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a showtab="" href="#chat-tab" role="tab" data-toggle="tab">Chat</a></li>
                    <li><a showtab="" href="#file-share-tab" role="tab" data-toggle="tab">Share files <span
                            class="label label-warning invite-label" ng-if="filesharingInvites.pending.length > 0">Invite pending</span><span
                            class="label label-success invite-label" ng-if="isAtLeastOneFilesharingConnectionActive()">Connected</span>
                    </a>

                    </li>
                </ul>

                <!--=====================================CHAT TAB================================================-->

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="chat-tab">

                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Chat with: <b>[{{model.team}}]</b><span class="pull-right label label-success animate-if" ng-if="model.logged">Online</span></h4>
                            </div>
                            <div class="panel-body">
                                <div class="content chat-messages" scroll-glue>
                                    <p data-ng-repeat="message in model.messages">
                                        <span class="time">({{message.date | date:'shortDate'}} {{message.date|date:'mediumTime'}})</span>
                                        <span class="sender">{{message.sender}}</span> :
                                        <span class="text">{{message.text}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <form role="form" class="form-horizontal">
                                    <div class="form-group form-group-lg">
                                        <div class="col-sm-10">
                                            <input class="form-control" type="text" id="input"
                                                   placeholder="Send chat message..." data-ng-disabled="!model.connected" x-webkit-speech>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <!--=====================================FILE SHARING TAB================================================-->
                    <!-- button that opens a modal to invite a guy to a file transfer session -->
                    <!-- modal: onhover change bg, after clicking on person it sends an invite-->
                    <!-- person you've invited will have bootstrap label <invited> on the file sharing tab
                     if he or you disconnects - other person should have invitation dismissed
                     if he goes to that tab, there is a Accept / Decline buttons            -->
                    <!-- if other person accepts, start a session, have a close and invite someone else button-->

                    <div role="tabpanel" class="tab-pane fade" id="file-share-tab">
                        <div ng-repeat="inv in filesharingInvites.pending">
                            <div class="alert alert-warning clearfix fade in" role="alert"><span
                                    class="filesharing-invite-popup-text">You've been invited to share files with <b>{{inv.user}}</b> !</span> <span
                                    class="pull-right"><button ng-click="acceptFileSharingInvite(inv)" data-dismiss="alert"
                                                               class="btn btn-success">accept
                            </button> <button class="btn btn-danger" ng-click="declineFileSharingInvite(inv.user, inv.sessionId)"
                                              data-dismiss="alert">decline
                            </button></span></div>
                        </div>

                        <div ng-repeat="inv in filesharingInvites.pendingOutgoing">
                            <div class="alert alert-info clearfix fade in" role="alert"><span
                                    class="filesharing-invite-popup-text">You've invited <b>{{inv.user}}</b> to share files with you, wait for them to accept!</span> <span
                                    class="pull-right"><button class="btn btn-danger" ng-click="declineFileSharingInvite(inv)"
                                                               data-dismiss="alert">decline
                            </button></span></div>
                        </div>

                        <div ng-if="!isAtLeastOneFilesharingConnectionActive()">
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="btn btn-info btn-lg filesharing-invite-button"
                                                data-toggle="modal" data-target="#filesharing-invite-modal">
                                            <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Invite to file transfer
                                        </button>
                                        This feature requires <a href="http://google.com">internet access</a> to bypass NATs and proxies.
                                    </div>
                                </div>
                            </nav>
                        </div>

                        <div ng-repeat="session in filesharingInvites.sessions">
                            <div class="filesharing-menu-container">
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix">
                                <span class="pull-left filesharing-session-avatar-with-name"><img class="media-object inline"
                                                                                                  ng-src="{{getMemberByName(session.user).userPic}}"
                                                                                                  alt="avatar"
                                                                                                  height="25"
                                                                                                  width="25"><span>{{session.user}}   </span></span>

                                <span class="panel-title pull-left"><img ng-if="!session.isConnected && session.isAccepted"
                                                                         src="/res/img/filesharing-connecting.gif" title="Connecting..."
                                                                         alt="Connecting..."/><input
                                        type="file" ng-attr-id="{{'file-' + session.sessionId}}"
                                        ng-class="{'hidden': !session.isConnected}"></span>
                                <span ng-if="!session.isAccepted"><span
                                        class="label label-warning invite-label">Connection inactive</span>
                                    <span class="pull-right">{{toDateString(session.sessionId)}}</span>
                                </span>
                                <span class="pull-right"><button type="button"
                                                                 class="btn btn-danger btn-sm closeFilesharingConnectionButton"
                                                                 ng-click="closeFilesharingConnection(session)" ng-if="session.isConnected">Close
                                    connection
                                </button>
                                </span>
                                    </div>
                                    <div class="panel-body">
                                        <div ng-attr-id="{{'file-progress-' + session.sessionId}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!--=====================================TEAM LIST PANEL================================================-->


            <div class="col-xs-12 col-sm-2 col-md-2 team-list-panel" id="members">
                <button id="settings-button" class="btn btn-default menu-button dropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" dropdown=""><span class="glyphicon glyphicon-cog menu-icon"></span>
                </button>

                <ul class="dropdown-menu menu-button dropdown-items" aria-labelledby="settings-button">
                    <li><a href="#">Profile(todo)</a></li>
                    <li><a href="#">Join other team(todo)</a></li>
                </ul>

                <h3>The Team</h3>

                <div class="content team-list">
                    <div class="media" ng-repeat="member in room.members">
                        <div class="pull-left media-left" href="#">
                            <img class="media-object img-rounded" ng-class="{'online animated bounceIn': member.online, 'offline': !member.online}"
                                 ng-src="{{member.userPic}}"
                                 alt="..." height="50" width="50">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{member.name}} ({{member.role}})</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================================CHANGE AVATAR MODAL================================================-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change profile picture</h4>
            </div>
            <div class="modal-body">

                <img class="profile-pic img-rounded"
                     ng-src="{{getMemberByName(model.name).userPic}}"
                     alt="avatar"
                     height="100" width="100">


                <br/>
                <br/>
                <br/>
                <label class="control-label">Select New Avatar</label>
                <input id="upload-avatar-input" type="file" class="file">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--=====================================Invite to file sharing modal================================================-->

<div class="modal fade" id="filesharing-invite-modal" tabindex="-1" role="dialog" aria-labelledby="filesharing-invite-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" data-dismiss="modal">
                <div ng-repeat="user in room.onlineMembers()" class="user-filesharing-invite-card-container" >
                    <div class="user-filesharing-invite-card" ng-click="sendFileSharingInvite(user.name)">
                        <img class="tweet-avatar media-object img-circle online"
                             ng-src="{{getMemberByName(user.name).userPic}}" alt="avatar"
                             height="50" width="50">

                        <div class="media-body">
                            <div class="media-heading tweet-header">
                                <span class="label label-danger">dev</span> <strong class="tweet-sender-name">{{user.name}} </strong>
                            </div>
                            <p class="tweet-text user-filesharing-invite-card-text">send invite</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--=====================================Tweet modal================================================-->

<div class="modal fade" id="tweet-modal" tabindex="-1" role="dialog" aria-labelledby="tweet-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Share something interesting</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="container-full tweet-modal-textarea-container">
                                <form name="tweetForm" ng-class="{'tweet-input-error': tweetForm.$invalid}">
                                <textarea class="form-control tweet-box-textarea" rows="3"
                                          ng-model="tweet"
                                          placeholder="What are you up to..."

                                          ng-minlength="1"
                                          ng-maxlength="140"
                                          required></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--TWEET PREVIEW-->
                <div class="container-fluid">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="preview-container">Preview</label>

                            <div id="preview-container" class="tweet-box">
                                <img class="tweet-avatar media-object img-circle"
                                     ng-src="{{getMemberByName(model.name).userPic}}" alt="avatar"
                                     height="50" width="50">

                                <div class="media-body">
                                    <div class="media-heading tweet-header">
                                        <span class="label label-danger">dev</span> <strong class="tweet-sender-name">{{model.name}}</strong>
                                        <small class="tweet-date"> soon</small>
                                    </div>
                                    <p class="tweet-text" ng-bind-html="tweet"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="pull-left btn btn-primary" data-toggle="modal" href="#add-link-modal"><span
                        class="glyphicon glyphicon-link"></span> Add link</button>
                <button class="btn btn-success" type="button" ng-click="sendTweet(tweet)" ng-disabled="tweetForm.$invalid"><span
                        class="glyphicon glyphicon-send"
                        aria-hidden="true" data-dismiss="modal"></span> Post
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--=====================================Add link modal================================================-->

<div class="modal fade" id="add-link-modal" tabindex="-1" role="dialog" aria-labelledby="add-link-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h4 class="modal-title">Insert link</h4>-->
            <!--</div>-->
            <div class="modal-body">
                <div class="form-horizontal">
                    <label for="tweetLinkName">Link text</label>
                                <textarea class="form-control" rows="1"
                                          id="tweetLinkName"
                                          ng-model="tweetLinkName"
                                          placeholder="My link"
                                          required></textarea>

                    <label for="tweetLinkHref">Link</label>
                                <textarea class="form-control" rows="1"
                                          id="tweetLinkHref"
                                          ng-model="tweetLinkHref"
                                          placeholder="http://..."
                                          required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="addLinkToTweet(tweetLinkName, tweetLinkHref)"><span
                        class="glyphicon glyphicon-plus"
                        aria-hidden="true" data-dismiss="modal"></span> Add link
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>