<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue</h1>

            <div ng-class="{'hidden': !showLoginForm}" class="tweet-box animated fadeInDown">
                <canvas id="myCanvas" width="200" height="200" class="profile-img">
                    <!--if not supported-->
                    <img class="profile-img" src="/res/img/user.png" alt="">
                </canvas>

                <form class="form-signin" name="loginForm">
                    <input type="text"
                           class="form-control"
                           name="userName"
                           placeholder="Username"
                           ng-model="login"
                           ng-required="true"
                           ng-pattern="validationPattern"
                           ng-class="{'logic-input-error' : loginForm.userName.$invalid}"
                           required autofocus>
                    <input type="text"
                           class="form-control"
                           name="teamName"
                           placeholder="Team name"
                           ng-model="team"
                           ng-required="true"
                           ng-pattern="validationPattern"
                           ng-class="{'logic-input-error' : loginForm.teamName.$invalid}"
                           required autofocus>
                    <div ng-if="isError"
                         class="alert alert-danger"
                         role="alert"><strong>Error!</strong> Names can only contain latin characters, numbers and undercores.</div>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="onLogin(login, team)">Sign in</button>

                </form>
            </div>

            <!--PREVIOUS ACCOUNTS-->
            <div ng-class="{'hidden': showLoginForm}">
                <div ng-repeat="acc in previousAccounts" class="clickable">
                    <div class="media">
                        <div class="tweet-box" ng-click="onLogin(acc.name, acc.team)">

                            <img class="tweet-avatar media-object img-circle"
                                 ng-src="{{acc.userPic}}" alt="avatar"
                                 height="50" width="50">

                            <div class="media-body">
                                <div class="media-heading tweet-header">
                                    <strong class="tweet-sender-name">{{acc.name}} ({{acc.team}})</strong>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="media">
                    <div class="tweet-box" ng-click="showLoginFormTrue()">

                        <img class="tweet-avatar media-object img-circle"
                             ng-src="/res/img/user.png" alt="avatar"
                             height="50" width="50">

                        <div class="media-body">
                            <div class="media-heading tweet-header">
                                <strong class="tweet-sender-name">Log in with a different user</strong>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <span class="text-center new-account">Just log in</span>
        </div>
    </div>
</div>