<div class="alerts" ng-show="noty.queue.length > 0">
    <div id="msg-{{m.timestamp}}" class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in pull-right" ng-repeat="m in noty.queue">
        <button type="button" class="close" data-dismiss="alert"
                ng-click="noty.remove(m.timestamp)">&times;</button>
        <label>{{m.title}}</label>
        <div ng-bind-html="m.body"></div>
    </div>
</div>