/* Application styles */
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url("login.css");
@import url("menu.css");
@import url("tweet.css");
@import url("noty.css");
@import url("file-sharing.css");

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/* Main page */
.main-container {
    padding-top: 10px;
    padding-bottom: 10px;
}



.content {
    /*position: absolute;*/
    /*width: auto;*/
    /*border: 1px solid #000;*/
    overflow-y:scroll;
}

.page-header {
    height: 10%;
    padding-bottom:0px;
    margin:0px 0;
    background: #9acfea;
    background-image: -webkit-linear-gradient(top,#9acfea,#ffffff);
    border-bottom: none;
}

.header-container {
    margin-top:0px;
}

.tweet-button {
    margin-right: 10px;
}

.tweet-input-error {
    border: 3px solid red;
}

.sendButton {
    margin-left: 10px;
    margin-right: 30px;
}

.avatar {
    margin: 5px 20px !important;
    cursor: pointer;
}

.link {
    cursor: pointer; cursor: hand;
}

.online {
    border: 3px solid limegreen;
}

.offline {
    border: 3px solid grey;
    opacity: 0.6;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.profile-pic {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    display: block;
}

.modal-title {
    text-align: center;
}

.team-list-panel {
    margin-top: 40px;
}

.team-list {
    margin-top: 20px;
    height: 75vh
}

.inline {
    display: inline;
}

.container-full {
    width: 100%;
    height: 100%;
}

.chat-messages {
    height: 72vh;
}

.tweet-messages {
    height: 85vh;
}

.tab-content {
    height: 90vh
}

.modal-backdrop.in {
    opacity: 0.7;
}

.clickable {
    cursor: pointer;
}