
.user-filesharing-invite-card-container:hover {
    background: #9acfea;
    background-image: -webkit-linear-gradient(left, #9acfea, #2f91ca);
    cursor: pointer;
}

.user-filesharing-invite-card {
    margin-left: 15px;
    margin-right: 15px;
}

.user-filesharing-invite-card-text {
    visibility: hidden;
}

.user-filesharing-invite-card-container:hover .user-filesharing-invite-card-text {
    visibility: visible;
    text-decoration: underline;
    font-size: 24px;
    float: right;
}

.filesharing-invite-button, .filesharing-menu-container {
    margin: 20px;
}

.invite-label {
    font-size: 14px;
}

.filesharing-invite-popup-text {
}

.filesharing-session-avatar-with-name {
    margin-right: 10px;
}