.menu-button {
    position: absolute;
    right: 16px;
    top: 4px;
    /*padding: 10px;*/
    /*display: inline-block;*/

    cursor: default;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);

    /*min-width: 50px;*/
    text-align: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;

    margin: 0;
    outline: none;
    outline-width: 0;
    text-decoration: none;
}

.menu-icon {
    display: inline;
    top: 2px;
    font-size: 2em;
}

.dropdown-items li a:hover {
    background: #9acfea;
    background-image: -webkit-linear-gradient(top, #2f91ca,#9acfea);
}