/* Notify service */
.alerts {
    position:fixed;
    width:500px;
    right:15px;
    top:15px;
    z-index:1050; /* 1030 in navbar */
}

.alerts>.alert-dismissable {
    position:relative;
    z-index:11;
    min-width:450px;
}