.tweet-box {
    min-height: 70px;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 0;
}

.tweet-box img {
    max-height: 100px;
    max-width: 100px;
}

.tweet-modal-textarea-container {
}

.tweet-box-textarea {
    min-height: 150px;
}

.tweet-avatar {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

.tweet-header {
    margin-top: 8px;
    margin-left: 2px;
}
.tweet-sender-name {
    font-size: 16px;
}

.tweet-date {
    color: lightslategrey;
}
.tweet-date:before {
    color: lightslategrey;
    content: "\00b7";
}

.tweet-text {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-all;
}

.tweet-text p {
    /*word-wrap: break-word;*/
}